
body{
    max-width: 100%;
    overflow-x: hidden;
}
.open{
    border-radius: 30%;
}
.OLink{
    color:black;
    text-decoration: none;
}

.STitle{
    position: relative;
    left: 25%;
    font-size: 3em;
    width: 550px;
}
.TTitle{
    position: relative;
    left: 35%;
    font-size: 3em;
    width: 550px;

}
.SandStorm{
    text-align: center;
    width: 550px;
}
.Telop{
    text-align: center;
    width: 550px;
}

.ETitle{
    position: relative;
    left: 25%;
    font-size: 3em;
    width: 550px;

}
.EndGame{
    text-align: center;
    width: 550px;
}
.PreGame{
    text-align: center;
    width: 550px;

}
.buttons{
    text-align: center;
    width: 550px;

}

.heading{
text-align: center;
text-decoration: underline;
font-size: 4em;}

.subheading{
position: relative; 
top:4px;
left:4px;
}


.logo{
}